In [1]:
import pandas as pd
import re

In [6]:
s = pd.Series(['2호선강남역4번출구','BBQ3호점1','홍대입구역9번출구11','힐스테이트'])
s

0     2호선강남역4번출구
1        BBQ3호점1
2    홍대입구역9번출구11
3          힐스테이트
dtype: object

In [7]:
def intToKorean(match):
    value = int(match.group())
#     print(value)
    if value == 0:
        return "영"
    digits = str(value)
    length = len(digits)
    count = False
    builder = []
    for i in range(length):
        base = length - i - 1
        baseMod4 = base % 4
        digit = int(digits[i])
        if digit != 0:
            count = True
            if digit == 1:
                if baseMod4 == 0:
                    builder.append('일')
            else:
                builder.append('이삼사오육칠팔구'[digit - 2])
            if baseMod4 > 0:
                builder.append('십백천'[baseMod4 - 1])
        if baseMod4 == 0:
            if count and base > 0:
                builder.append('만억조경해'[base // 4 - 1])
            count = False
    result = ''
    for i in range(len(builder)):
        result = result + builder[i]
    return result

In [9]:
ns = []
for i in range(len(s)):
    p = re.compile('(\d+)')
    print(p.sub(intToKorean, s[i]))
    ns.append(p.sub(intToKorean, s[i]))

이호선강남역사번출구
BBQ삼호점일
홍대입구역구번출구십일
힐스테이트

In [12]:
nns = pd.Series(ns)
nns

0     이호선강남역사번출구
1        BBQ삼호점일
2    홍대입구역구번출구십일
3          힐스테이트
dtype: object

In [13]:
print(type(nns))

<class 'pandas.core.series.Series'>