In [1]:
import pandas as pd
import re
import math

In [2]:
s = pd.Series(['2호선강남역4번출구','BBQ3호점1','홍대입구역9번출구11','힐스테이트'])
s1 = pd.Series(['1호선 역곡역 1','1일 1커밋'])
s2 = pd.Series(['309동 103호','가나다라마바사','아자차카타파하2'])

In [3]:
df = pd.DataFrame()
df[0] = s
df[1] = s1
df[2] = s2
df

             0          1          2
0   2호선강남역4번출구  1호선 역곡역 1  309동 103호
1      BBQ3호점1     1일 1커밋    가나다라마바사
2  홍대입구역9번출구11        NaN   아자차카타파하2
3        힐스테이트        NaN        NaN

In [26]:
def intToKorean(match):
    value = int(match.group())
    if value == 0:
        return "영"
    digits = str(value)
    length = len(digits)
    count = False
    builder = []
    for i in range(length):
        base = length - i - 1
        baseMod4 = base % 4
        digit = int(digits[i])
        if digit != 0:
            count = True
            if digit == 1:
                if baseMod4 == 0:
                    builder.append('일')
            else:
                builder.append('이삼사오육칠팔구'[digit - 2])
            if baseMod4 > 0:
                builder.append('십백천'[baseMod4 - 1])
        if baseMod4 == 0:
            if count and base > 0:
                builder.append('만억조경해'[base // 4 - 1])
            count = False
    result = ''.join(builder)
    ner = [result,match.start(),match.end()]
    return result,ner

In [24]:
p = re.compile('(\d+)')

In [61]:
def get_number_ner(text):
    result_list = []
    ner_list = []
    for match in p.finditer(text):
        result, ner = intToKorean(match)
        result_list.append(result)
        ner_list.append(ner)
    for i in range(len(ner_list)):
        text = text.replace(text[ner_list[i][1]:ner_list[i][2]],result_list[i])
    return ner_list, text
get_number_ner("2호선강남역4번출구3")

([['이', 0, 1], ['사', 6, 7], ['삼', 10, 11]], '이호선강남역사번출구삼')

In [62]:
ns = []
for i in range(len(s)):
    print(get_number_ner(s[i]))
#     ns.append(p.sub(intToKorean, s[i]))

([['이', 0, 1], ['사', 6, 7]], '이호선강남역사번출구')
([['삼', 3, 4], ['일', 6, 7]], 'BBQ삼호점일')
([['구', 5, 6], ['십일', 9, 11]], '홍대입구역구번출구십일')
([], '힐스테이트')

In [27]:
ns = []
for i in range(len(s)):
    print(p.sub(intToKorean, s[i]))
    ns.append(p.sub(intToKorean, s[i]))

TypeError: sequence item 0: expected str instance, tuple found

In [119]:
nns = pd.Series(ns)
nns

0     이호선강남역사번출구
1        BBQ삼호점일
2    홍대입구역구번출구십일
3          힐스테이트
dtype: object

In [120]:
print(type(nns))

<class 'pandas.core.series.Series'>

In [121]:
len(df)
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [156]:
p = re.compile('(\d+)')
newSeries = pd.Series
for i in range(len(df.columns)):
    for j in range(len(df[i])):
        if not pd.isnull(df[i][j]):
            print(p.sub(intToKorean, df[i][j]))
            newSeries.append(pd.Series(p.sub(intToKorean,df[i][j])))
    print(newSeries)

이호선강남역사번출구

TypeError: append() missing 1 required positional argument: 'to_append'

In [145]:
df

             0          1          2
0   2호선강남역4번출구  1호선 역곡역 1  309동 103호
1      BBQ3호점1     1일 1커밋    가나다라마바사
2  홍대입구역9번출구11        NaN   아자차카타파하2
3        힐스테이트        NaN        NaN

In [99]:
df[1][2]

nan

In [100]:
type(df[1][2])

float